/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* style */

body{
	font: 16px/28px arial, sans-serif;
	background-color: #eaeaea;
	background-image: url(image/bgr.png);
	color: #333;
}

.container{
	width: 800px;
	margin: auto;
	background-color: white;
}

.nav{
	padding: 10px;
	background-color: #735e59;
	
}

.nav ul li{
	display: inline-block;
	font-weight: bold;
	font-size: 24px;
	overflow: none;
}

.nav a{
	color: #eaeaea;
	list-style-type: none;
	text-decoration: none;
	padding: 4px;
}

.nav a:hover{
	background-color: lightblue;
	color: gray;
}

.header{
	padding: 20px;
	padding-bottom: 10px;
}

.header .judul{
	font-size: 40px;
	line-height: 1.5;
	font-weight: bold;
}

.header .subjudul{
	font-size: 29px;
	font-weight: bold;
}

.header ul li{
	display: inline-block;
	font-weight: bold;
    font-size: 13px;
	margin-top: 15px;
	margin-right: 3px;
}

.header a{
	text-decoration: none;
	color: mediumvioletred;
	padding: 4px;
}

.header a:hover{
	background-color: lightblue;
	color: white;
}

.gambar {
	height: 280px;
	background-image: url(image/thm.png);
	background-size: cover;
	background-position: -100px;
}

.content{
	padding: 20px;
}

.content h2{
	font-size: 28px;
	line-height: 1.5;
	font-weight: bold;
}

.content h3{
	font-size: 22px;
	line-height: 1.5;
	font-weight: bold;
}

.content .penulis{
	font-size: 10px;
	margin-top: -5px;
}

.content .penulis a{
	color: mediumvioletred;
	text-decoration: none;
}

.content .penulis a:hover{
	background-color: lightblue;
	color: white;
}

.content p{
	margin-bottom: 20px;
	font-size: 14px;
}

.content ul li{
	display: inline-block;
	font-weight: bold;
    font-size: 15px;
	margin-top: 15px;
	margin-right: 5px;
}

.footer{
	background-color: #735e59;
	padding: 10px;
}

.footer .copy{
	color: #eaeaea;
	text-align: center;
	font-size: 12px;
}